.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  flex-basis: calc(16.667% - 8px);
  margin: 4px;
  height: fit-content;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.img-container img {
  width: 100%;
}

.random-text {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
